.currentColor {
  width: 100px;
  height: 150px;
  border: 1px solid darkgray;
  border-radius: 5px;
  background-image: url("../../../../resources/transparency_grid.jpg");
  background-repeat: repeat;
  background-size: 25%;
  flex: 0 0 auto;
}