:host {
	position: absolute;
	z-index: 999;
}

.app-chat {
	padding: 0;
	top: 100px;
	left: 100px;
}

.toolbar {
	background-color: #3f51b4;
	height: 25px;
	width: 100%;
	border-radius: 4px 4px 0 0;
}

.toUsers-line {

}

.chip-list {
	width: 100%;
	overflow: hidden;
}

.input-line {
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
	align-items: center;
	background-color: inherit;

	input {
		margin-left: 5px;
	}

	button {
		margin: 5px;
	}
}

mat-card {
	display: flex;
	flex-direction: column;
	min-width: 350px;
	min-height: 250px;
}

mat-tab-group {
	flex: 1;
	display: flex;
	flex-direction: column;
}

mat-tab {
	flex: 1;
	display: flex;
}

.chat-history {
	flex: 1;
	margin-bottom: 50px;
	overflow-y: auto;
}

.chat-bubble {
	background-color: lightskyblue;
	margin: 4px;
	padding: 7px 8px 7px 12px;
	transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
	display: inline-flex;
	border-radius: 24px;
	align-items: center;
	cursor: default;
	min-height: 32px;
	width: 60%;
}

/deep/ app-chat .mat-tab-body-wrapper {
	flex: 1;
}

/deep/ app-chat .mat-tab-body-content {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/deep/ .ng-resizable-diagonal {
	z-index: 1000;
}