<mat-form-field [ngStyle]="{'width': width + 'px', 'font-size': fontSize + 'px'}">
	<textarea matInput placeholder="{{aspect.label}}" [required]="aspect.required" [style.height.px]="height"></textarea>
</mat-form-field>
<mat-menu (close)="closeOptions()" #options>
	<div class="changeFontSize" (click)="stopClickPropagate($event)" (keyup.enter)="closeMenu()">
		<mat-form-field>
			<input matInput type="number" placeholder="Font Size" [(ngModel)]="fontSize" #fontSizeInput>
		</mat-form-field>
	</div>
</mat-menu>