.hidden {
    display: none;
}

.img-rounded {
    max-height: 60px;
    max-width: 60px;
    margin-right: 10px;
}

.friendRequest {
    margin-left: 25px;
}

.acceptButton {
    background-color: forestgreen;
}

.rejectButton {
    background-color: orangered;
    margin-left: 5px;
}

.actionsCell {
    display: flex;
    align-items: stretch;
}

.userCell {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.userCell img {
    height: 100%;
}