<mat-form-field>
	<input matInput #searchCriteria placeholder="Search" (keyup.enter)="search()">
</mat-form-field>
<mat-table #table [dataSource]="userDataSource" [ngClass]="{'hidden': (users.length === 0)}">
	<ng-container matColumnDef="user">
		<mat-header-cell *matHeaderCellDef>User</mat-header-cell>
		<mat-cell *matCellDef="let user">
			<img [src]="user.profilePhotoUrl" class="img-rounded">
			<span>{{user.username}}</span>
		</mat-cell>
	</ng-container>
	<ng-container matColumnDef="actions">
		<mat-header-cell *matHeaderCellDef></mat-header-cell>
		<mat-cell *matCellDef="let user" class="actionsCell">
			<ng-container *ngIf="!hasPendingRequestFrom(user); else elseBlock">
				<button mat-mini-fab color="primary" class="friendRequest" (click)="sendRequest(user)"><mat-icon>person_add</mat-icon></button>
			</ng-container>
			<ng-template #elseBlock>
				<button mat-mini-fab class="acceptButton" (click)="acceptRequest(user)"><mat-icon>check</mat-icon></button>
				<button mat-mini-fab class="rejectButton" (click)="rejectRequest(user)"><mat-icon>not_interested</mat-icon></button>
			</ng-template>
		</mat-cell>
	</ng-container>
	<mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
	<mat-row *matRowDef="let user; columns: tableColumns"></mat-row>
</mat-table>