.hidden {
    display: none;
}

.img-rounded {
    width: 50px;
    min-width: 50px;
    margin-right: 10px;
}

.friendRequest {
    margin-left: 25px;
}

.acceptButton {
    background-color: forestgreen;
}

.rejectButton {
    background-color: orangered;
}

.actionsCell {
    display: flex;
    align-items: stretch;
}