<div style="position: absolute; z-index: 5;">
    <div
            style="height: 40px; width: 40px; border: 3px solid green; background: #00b3ff; border-radius: 25px; margin-top: 13px; margin-left: 8px"
            matBadge={{badgeValue}}
            matTooltip="Character 1"
            matTooltipPosition="after"
    ></div>

    <div
            style="height: 40px; width: 40px; border: 3px solid green; background: #00b3ff; border-radius: 25px; margin-top: 13px; margin-left: 8px"
            matBadge="6"
            matTooltip="Character 2"
            matTooltipPosition="after"
    ></div>

    <div
            style="height: 40px; width: 40px; border: 3px solid green; background: #00b3ff; border-radius: 25px; margin-top: 13px; margin-left: 8px"
            matBadge="4"
            matTooltip="Character 3"
            matTooltipPosition="after"
    ></div>

    <div
            style="height: 40px; width: 40px; border: 3px solid green; background: #00b3ff; border-radius: 25px; margin-top: 13px; margin-left: 8px"
            matTooltip="Character 4"
            matTooltipPosition="after"
    ></div>
</div>



<div style="height: 100%; width: 100%;" #mapContainer>
    <map-renderer></map-renderer>
    <tile-renderer></tile-renderer>
    <grid-renderer></grid-renderer>
    <token-renderer></token-renderer>
    <light-renderer></light-renderer>
    <visibility-renderer></visibility-renderer>
    <wall-renderer></wall-renderer>
    <hover-renderer></hover-renderer>
    <highlight-renderer></highlight-renderer>
    <notation-renderer></notation-renderer>

    <canvas
            #inputCanvas
            class="inputCanvas"
            [ngClass]="getCursorClass()"
            height={{getCanvasHeight()}} width={{getCanvasWidth()}}
            (mouseleave)="handleMouseLeave($event)"
            (mouseenter)="handleMouseEnter($event)"
            mouseWheel
            (mouseWheelUp)="handleMouseWheel($event)"
            (mouseWheelDown)="handleMouseWheel($event)"
            (mousemove)="mouseMove($event)"
            (mousedown)="handleMouseDown($event)"
            (mouseup)="handleMouseUp($event)"
            (contextmenu)="handleContextMenu($event)"
            (click)="clickResponse()">
    </canvas>
</div>


