<div style="height: 100%; width: 100%" #mapContainer>
    <map-renderer></map-renderer>
    <tile-renderer></tile-renderer>
    <grid-renderer></grid-renderer>
    <token-renderer></token-renderer>
    <light-renderer></light-renderer>
    <visibility-renderer></visibility-renderer>
    <wall-renderer></wall-renderer>
    <hover-renderer></hover-renderer>
    <highlight-renderer></highlight-renderer>
    <notation-renderer></notation-renderer>

    <canvas
            #inputCanvas
            class="inputCanvas"
            [ngClass]="getCursorClass()"
            height={{getCanvasHeight()}} width={{getCanvasWidth()}}
            (mouseleave)="handleMouseLeave($event)"
            (mouseenter)="handleMouseEnter($event)"
            mouseWheel
            (mouseWheelUp)="handleMouseWheel($event)"
            (mouseWheelDown)="handleMouseWheel($event)"
            (mousemove)="mouseMove($event)"
            (mousedown)="handleMouseDown($event)"
            (mouseup)="handleMouseUp($event)"
            (contextmenu)="handleContextMenu($event)"
            (click)="clickResponse()">
    </canvas>
</div>


