.characterSheet {
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-flow: row;
}

.add-dialog {
    display: flex;
    flex-direction: column;
}

.dialog-input {
    margin-top: 5px;
    margin-bottom: 5px;
}
