<div id="view-edit-control-module" class="section" *ngIf="boardStateService.isGM">
    <div class="sectionHeader"><span>View/Edit Controls</span></div>
    <div class="sectionContents">

        <mat-form-field>
            <mat-select [(value)]="currentView" (selectionChange)="handleViewChange()" placeholder="View Mode">
                <mat-option *ngFor="let mode of viewModes" value="{{mode}}">{{mode}}</mat-option>
            </mat-select>
        </mat-form-field>



        <span class="font" style="color: rgba(0, 0, 0, 0.54); font-size: 12px;">Edit Mode</span>

        <div style="display: block">
            <button class="strokeButtonOverride"
                    matTooltip="Player Mode"
                    (click)="handleSetInputModePlayer()"
                    [ngClass]="{'selectedNotationMode': boardStateService.board_edit_mode === BoardMode.PLAYER}"
                    mat-stroked-button>
                <mat-icon>person</mat-icon>
            </button>

            <button class="strokeButtonOverride"
                    matTooltip="Door Mode"
                    (click)="handleSetInputModeDoor()"
                    [ngClass]="{'selectedNotationMode': boardStateService.board_edit_mode === BoardMode.DOORS}"
                    mat-stroked-button>
                <mat-icon>kitchen</mat-icon>
            </button>

            <button class="strokeButtonOverride"
                    matTooltip="Wall Mode"
                    (click)="handleSetInputModeWall()"
                    [ngClass]="{'selectedNotationMode': boardStateService.board_edit_mode === BoardMode.WALLS}"
                    mat-stroked-button>
                <mat-icon>border_all</mat-icon>
            </button>

            <button class="strokeButtonOverride"
                    matTooltip="Light Mode"
                    (click)="handleSetInputModeLight()"
                    [ngClass]="{'selectedNotationMode': boardStateService.board_edit_mode === BoardMode.LIGHTS}"
                    mat-stroked-button>
                <mat-icon>flare</mat-icon>
            </button>


        </div>
    </div>
</div>