<mat-form-field class="category-select" [style.fontSize.px]="aspect.fontSize">
	<mat-select [placeholder]="aspect.label" [(ngModel)]="value" (selectionChange)="valueChanged()" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
		<mat-option *ngFor="let category of categories" [value]="category.value">{{category.value}}</mat-option>
	</mat-select>
</mat-form-field>
<mat-menu #options>
	<div class="category-addOrRemove-option" (click)="stopClickPropagate($event)" (keyup.enter)="addCategory()">
		<mat-form-field>
			<input matInput placeholder="New Category" [(ngModel)]="categoryInput">
		</mat-form-field>
		<button mat-icon-button color="primary" (click)="addCategory()"><mat-icon>add</mat-icon></button>
	</div>
	<div class="category-addOrRemove-option" (click)="stopClickPropagate($event)" (keyup.enter)="removeCategory()">
		<mat-form-field>
			<mat-select placeholder="Remove Category" [(ngModel)]="categoryToRemove">
				<mat-option *ngFor="let category of categories" [value]="category">{{category.value}}</mat-option>
			</mat-select>
		</mat-form-field>
		<button mat-icon-button color="primary" (click)="removeCategory()"><mat-icon>remove</mat-icon></button>
	</div>
</mat-menu>