:host {
	width: 100%;
	height: 100%;
	text-align: center;

	display: flex;
	flex-direction: column;
}

.add-condition {
	position: absolute;
	bottom: 1px;
	width: 100%;
	background: white;
}

.condition {
	display: flex;
	align-items: center;
}

.remove-condition {
	margin-left: auto;
}

.conditions-container {
	overflow-y: auto;
	margin-bottom: 68px;
}