:host {

}

.select-friends {
    display: flex;
    flex-direction: row;
}

.selected-friends {
    display: flex;
    flex-direction: column;
}

.friend-selector {
    margin-left: 10px;
}

.select-friends-footer {
    display: flex;
    justify-content: flex-end;
}

.img-rounded {
    max-height: 60px;
    max-width: 60px;
    margin-right: 10px;
}

::ng-deep  mat-header-cell {
    margin-right: 10px;
}

mat-table {
    min-width: 350px;
}

.well {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    width: 100%;
}

.selected {
    opacity: 0.1;
}