<div class="section">
    <div class="sectionHeader"><span>Encounter Config</span></div>
    <div class="sectionContents">
        <mat-checkbox *ngIf="boardStateService.showGridControls" style="display: block" [(ngModel)]="boardStateService.gridEnabled">Grid Enabled</mat-checkbox>
        <mat-checkbox *ngIf="boardStateService.showHealthBarControls" style="display: block" [(ngModel)]="encounterService.config.showHealth">Health Bars Enabled</mat-checkbox>
        <mat-checkbox *ngIf="boardStateService.showShowWallsToPlayerControls" style="display: block" [(ngModel)]="encounterService.config.playerWallsEnabled">Show Walls to Player</mat-checkbox>
        <mat-checkbox *ngIf="boardStateService.showMapEnabledControls" style="display: block" [(ngModel)]="encounterService.config.mapEnabled" [disabled]="!mapEnabledControlsIsEnabled()">Map Enabled</mat-checkbox>

        <div *ngIf="boardStateService.map_enabled">
            <span class="font">Map Opacity </span>
            <mat-slider min="0" max="1" step="0.01" [value]="boardStateService.board_maker_map_opacity" (input)="mapOpacitySliderInput($event)"></mat-slider>
        </div>
    </div>
</div>