<div id="Board Maker Controls" class="section" *ngIf="boardStateService.board_view_mode === ViewMode.BOARD_MAKER">
    <div class="sectionHeader"><span>Board Maker Controls</span></div>
    <div class="sectionContents">
        <mat-checkbox style="display: block" [(ngModel)]="boardStateService.gridEnabled">Grid Enabled</mat-checkbox>
        <mat-checkbox style="display: block" [(ngModel)]="boardStateService.show_health">Health Bars Enabled</mat-checkbox>
        <mat-checkbox style="display: block" [(ngModel)]="boardStateService.playerWallsEnabled">Show Walls to Player</mat-checkbox>
        <mat-checkbox style="display: block" [(ngModel)]="boardStateService.map_enabled">Map Enabled</mat-checkbox>

        <div *ngIf="boardStateService.map_enabled">
            <span class="font">Map Opacity </span>
            <mat-slider min="0" max="1" step="0.01" [value]="boardStateService.board_maker_map_opacity" (input)="mapOpacitySliderInput($event)"></mat-slider>
        </div>

    </div>
</div>

<div id="Player Controls" class="section" *ngIf="boardStateService.board_view_mode === ViewMode.PLAYER">
    <div class="sectionHeader"><span>Player Controls</span></div>
    <div class="sectionContents">
        <mat-checkbox style="display: block" [(ngModel)]="boardStateService.gridEnabled">Grid Enabled</mat-checkbox>
    </div>
</div>

<div id="Game Master Controls" class="section" *ngIf="boardStateService.board_view_mode === ViewMode.MASTER">
    <div class="sectionHeader"><span>Game Master Controls</span></div>
    <div class="sectionContents">
        <mat-checkbox style="display: block" [(ngModel)]="boardStateService.gridEnabled">Grid Enabled</mat-checkbox>
        <mat-checkbox style="display: block" [(ngModel)]="boardStateService.show_health">Health Bars Enabled
        </mat-checkbox>
        <mat-checkbox style="display: block" [(ngModel)]="boardStateService.playerWallsEnabled">Show Walls to Player
        </mat-checkbox>
        <mat-checkbox style="display: block" [(ngModel)]="boardStateService.map_enabled">Map Enabled</mat-checkbox>
    </div>
</div>