<mat-form-field>
	<input matInput placeholder="Name" [(ngModel)]="damageType.name" required/>
</mat-form-field>
<mat-form-field>
	<input matInput placeholder="Color" [(colorPicker)]="damageType.color" [style.background]="damageType.color" [value]="damageType.color" required/>
</mat-form-field>
<div class="icon-selector">
	<button class="icon-button" mat-stroked-button *ngFor="let icon of iconOptions" [ngClass]="icon === damageType.icon ? 'selected-button' : ''" (click)="selectIcon(icon)">
		<mat-icon [style.color]="damageType.color">{{icon}}</mat-icon>
	</button>
</div>
<button mat-raised-button color="primary" (click)="submit()">OK</button>