nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.navbar-tabLink {
    color: whitesmoke;
}

.navbar-tabArea {
    margin-right: auto;
}

.navbar-menuButton {
    color: whitesmoke;
}