nav {
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.navbar-tabLink {
    color: whitesmoke;
}

.navbar-menuButton {
    color: whitesmoke;
    margin-left: auto;
}

a {
    text-decoration: none;
}