<nav class="navbar navbar-inverse">
	<div class="container">
		<span class="navbar-tabs">
			<button mat-button class="navbar-tabLink"
					*ngFor="let link of navLinks"
					[routerLink]="link.route">
			{{link.label}}
		</button>
		</span>
		<app-notifications></app-notifications>
		<button mat-button class="navbar-menuButton" [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></button>
		<mat-menu #menu="matMenu">
			<a mat-menu-item (click)="openAddFriendDialog()">Add Friend</a>
			<a mat-menu-item href="login">Logout</a>
		</mat-menu>
	</div>
</nav>
