<nav class="navbar navbar-inverse">
	<div class="container">
		<button mat-button class="navbar-tabLink"
				*ngFor="let link of navLinks"
				[routerLink]="link.route"
				routerLinkActive #rla="routerLinkActive">
			{{link.label}}
		</button>
		<button mat-button class="navbar-menuButton" [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></button>
		<mat-menu #menu="matMenu">
			<a mat-menu-item (click)="openAddFriendDialog()">Add Friend</a>
			<a mat-menu-item href="login">Logout</a>
		</mat-menu>
	</div>
</nav>
