nav {
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.navbar-tabLink {
    color: whitesmoke;
}

.navbar-tabs {
    margin-right: auto;
    display: flex;
}

.navbar-menuButton {
    color: whitesmoke;
    padding: 0;
    min-width: 50px;
}

.navbar-noteAlert {
    position: absolute;
    background-color: red;
    font-size: 10px;
    bottom: 4px;
    right: 8px;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
}