<div style="position: fixed; background-color: white; border-radius: 5px; border: 2px solid darkgrey;"
     [ngStyle]="{'left': pos_x + 'px', 'top': pos_y + 'px'}">
    <div style="margin: 7px 9px; display: flex; flex-direction: column">
        <div style="display: flex;"><span style="margin-left: auto; display: flex;"><b style="margin: auto">{{player.name}}</b></span><span style="margin-left: auto; cursor: pointer" (click)="close()">❌</span></div>
        <div style="margin-left:1px"><b>🖤:</b> {{player.hp}}/{{player.maxHp}}</div>
        <div style="margin-left:3px"><b>⛨ :</b> {{player.ac}}</div>

        <div class="action" *ngIf="!actionsVisible" (click)="toggleActionVis()" style="margin-top: 5px; margin-left: auto; margin-right: auto">Show Actions</div>

        <ul *ngIf="actionsVisible" style="padding-left: 25px; margin: 5px 0">
            <li *ngFor="let action of player.actions"><b>{{action.action}}</b> {{action.detail}}</li>
        </ul>
    </div>
</div>
