.home-profilePhoto {
	flex: 2;
	height: 100%;
	display: flex;
	align-items: center;
}

.home-profilePhoto input {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
}

.home-profilePhotoImg {
	width: 100%;
	border-radius: 5px;
}

.container {
	display: flex;
}

.home-content {
	margin: 20px;
}

.home-leftContent {

}

.home-rightContent {
	flex: 1;
}

.home-menuOptions {

}

.home-menuOptions mat-list mat-list-item button {
	width: 100%;
}

.clickable-row:hover {
	cursor: pointer;
	background: #CFD8DC;
}