.home-profilePhoto {
    flex: 2;
    height: 302px;
}

.home-profilePhoto input {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

.home-profilePhoto a.thumbnail {
    width: 100%;
    height: 100%;
}

.home-profilePhotoImg {
    height: 100%;
}

.container {
    display: flex;
}

.home-content {
    margin: 20px;
}

.home-leftContent {

}

.home-rightContent {
    flex: 1;
}

.home-menuOptions {

}

.home-menuOptions mat-list mat-list-item button {
    width: 100%;
}

.clickable-row:hover {
    cursor: pointer;
    background: #CFD8DC;
}