<div class="home-content">
	<mat-grid-list cols="3" rowHeight="350px">
		<mat-grid-tile [colspan]="1" [rowspan]="1">
			<dashboard-card>
				<div class="home-profilePhoto">
					<a (click)="upload()">
						<img class="home-profilePhotoImg" [src]="profilePhotoUrl"/>
					</a>
					<input type="file" accept="image/*" (change)="loadImage()" #fileInput>
				</div>
			</dashboard-card>
		</mat-grid-tile>
		<mat-grid-tile [colspan]="2" [rowspan]="1">
			<dashboard-card [dashboardCard]="ruleSetCard">
				<mat-table [dataSource]="ruleSetDataSource">
					<ng-container matColumnDef="label">
						<mat-header-cell *matHeaderCellDef>Rule Set</mat-header-cell>
						<mat-cell *matCellDef="let ruleSet">{{ruleSet.label}}</mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="ruleSetTableColumns"></mat-header-row>
					<mat-row class="clickable-row" *matRowDef="let ruleSet; columns: ruleSetTableColumns"
									 (click)="ruleSetHome(ruleSet._id)"></mat-row>
				</mat-table>
			</dashboard-card>
		</mat-grid-tile>
		<mat-grid-tile>
			<dashboard-card [dashboardCard]="friendsCard">
				<mat-table [dataSource]="friendDataSource">
					<ng-container matColumnDef="label">
						<mat-header-cell *matHeaderCellDef>Friends</mat-header-cell>
						<mat-cell *matCellDef="let friend">{{friend.username}}</mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="ruleSetTableColumns"></mat-header-row>
					<mat-row *matRowDef="let friend; columns: friendTableColumns"></mat-row>
				</mat-table>
			</dashboard-card>
		</mat-grid-tile>
		<mat-grid-tile [colspan]="2" [rowspan]="1">
			<dashboard-card [dashboardCard]="campaignCard">
				<mat-table [dataSource]="campaignService.campaigns">
					<ng-container matColumnDef="label">
						<mat-header-cell *matHeaderCellDef>Campaign</mat-header-cell>
						<mat-cell *matCellDef="let campaign">{{campaign.label}}</mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="campaignTableColumns"></mat-header-row>
					<mat-row class="clickable-row" *matRowDef="let campaign; columns: campaignTableColumns"
									 (click)="campaignHome(campaign)"></mat-row>
				</mat-table>
			</dashboard-card>
		</mat-grid-tile>
	</mat-grid-list>
</div>
