<div class="move-handle" [style.display]="characterService.immutable ? 'none' : 'flex'">
	<mat-icon>reorder</mat-icon>
</div>
<div class="aspect-header" [style.display]="characterService.immutable ? 'none' : 'flex'" (mousedown)="$event.stopPropagation()">
	<button *ngIf="hasOptions" mat-icon-button [matMenuTriggerFor]="options" class="aspect-options">
		<mat-icon>settings</mat-icon>
	</button>
	<button mat-icon-button (click)="removeComponent(aspect)" class="aspect-close" *ngIf="!aspect.isPredefined">
		<mat-icon>close</mat-icon>
	</button>
</div>
<mat-card *ngIf="aspect" class="sub-component" (mousedown)="$event.stopPropagation()">
	<ng-container [ngSwitch]="aspect.aspectType">
		<characterMaker-textComponent *ngSwitchCase="aspectType.TEXT" [aspect]="aspect" #child></characterMaker-textComponent>
		<characterMaker-textArea *ngSwitchCase="aspectType.TEXT_AREA" [aspect]="aspect" #child></characterMaker-textArea>
		<characterMaker-checkBoxComponent *ngSwitchCase="aspectType.BOOLEAN" [aspect]="aspect" #child></characterMaker-checkBoxComponent>
		<characterMaker-numberComponent *ngSwitchCase="aspectType.NUMBER" [aspect]="aspect" #child></characterMaker-numberComponent>
		<characterMaker-checkBoxListComponent *ngSwitchCase="aspectType.BOOLEAN_LIST" [aspect]="aspect" #child></characterMaker-checkBoxListComponent>
		<characterMaker-textListComponent *ngSwitchCase="aspectType.TEXT_LIST" [aspect]="aspect" #child></characterMaker-textListComponent>
		<characterMaker-categoryComponent *ngSwitchCase="aspectType.CATEGORICAL" [aspect]="aspect" #child></characterMaker-categoryComponent>
		<characterMaker-functionComponent *ngSwitchCase="aspectType.FUNCTION" [aspect]="aspect" #child></characterMaker-functionComponent>
		<characterMaker-currentMax *ngSwitchCase="aspectType.CURRENT_MAX" [aspect]="aspect" #child></characterMaker-currentMax>
		<aspect-conditions *ngSwitchCase="aspectType.CONDITIONS" [aspect]="aspectType" #child></aspect-conditions>
	</ng-container>
</mat-card>
