:host {
	position: absolute;
	width: 100%;
	height: 100%;
}

.aspect-header {
	position: absolute;
	width: 95%;
	z-index: 999;
	margin-right: 10px;
}

.aspect-options {
	margin-left: auto;
}

.sub-component {
	height: 100%;
	align-items: center;
	display: flex;
	padding: 0;
}