.characterSheet {
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    position: relative;
}

.add-dialog {
    display: flex;
    flex-direction: column;
}

.dialog-input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.grid-item {
    transition: top 200ms ease-out, left 200ms ease-out;
}

.sub-component-header {
    background-color: #CFD8DC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 24px;
    width: 100%;
    left: 0;
    top: 0;
}

.sub-component-reorder {
    margin-right: auto;
}

.sub-component-options {
    width: 25px;
}

.sub-component-options mat-icon {
    cursor: pointer;
    font-size: 14px;
    opacity: .5;
}

.sub-component-close {
    width: 25px;
    margin-right: 5px;
}

.sub-component-close mat-icon {
    opacity: .5;
}

.hidden {
    visibility: hidden;
}

.characterSheet-gridContainer {
    width: 100%;
    display: flex;
}

.characterSheet-addButton {
}

.characterSheet-saveButton {
    margin-left: auto;
}

mat-toolbar {
    background-color: inherit;
}