:host {
	position: absolute;
	width: 100%;
	height: 100%;
}

.aspect-header {
	position: absolute;
	right: 5px;
	z-index: 999;
}

.sub-component {
	height: 100%;
	align-items: center;
	display: flex;
	padding: 0;
}

.move-handle {
	position: absolute;
	left: 0;
	z-index: 999;
	background-color: lightgray;
	cursor: move;
}