<div class="app-container">
	<h1 *ngIf="characterSheetData">{{characterSheetData.label}}</h1>
	<mat-toolbar>
		<button mat-icon-button mat-raised-button color="primary" (click)="openAddDialog()" class="characterSheet-addButton"
		        matTooltip="Add SubComponent">
			<mat-icon>add</mat-icon>
		</button>
		<button mat-icon-button mat-raised-button color="primary" (click)="save()" class="characterSheet-saveButton"
		        matTooltip="Save">
			<mat-icon>sd_card</mat-icon>
		</button>
	</mat-toolbar>
	<div class="characterSheet-gridContainer">
		<character-grid></character-grid>
	</div>
</div>

