:host {
	margin-left: 5px;

	::ng-deep  .mat-checkbox-layout {
		align-items: center;
	}

	::ng-deep  .mat-checkbox-inner-container {
		min-width: 16px;
		min-height: 16px;
		width: .5em;
		height: .5em;
	}
}

