<mat-card *ngIf="aspect" [ngStyle]="{'transition': transition,
									'width': width + 'px',
									'z-index': zIndex,
									'transform': 'translate(' + left + 'px, ' + top + 'px)'}"
		 class="sub-component">
    <mat-card-header *ngIf="isHovered" class="sub-component-header" [style.width.px]="width">
		<mat-icon class="sub-component-reorder" (mousedown)="startMove()">reorder</mat-icon>
		<button class="sub-component-close" mat-icon-button (mousedown)="remove()"><mat-icon>close</mat-icon></button>
	</mat-card-header>
    <mat-card-content [ngStyle]="{'width': width + 'px', 'height': height + 'px'}" [ngSwitch]="aspect.aspectType">
        <characterMaker-textComponent *ngSwitchCase="aspectType.TEXT" [aspect]="aspect" [parent]="this" #child></characterMaker-textComponent>
        <characterMaker-checkBoxComponent *ngSwitchCase="aspectType.BOOLEAN" [aspect]="aspect" [parent]="this" #child></characterMaker-checkBoxComponent>
        <characterMaker-numberComponent *ngSwitchCase="aspectType.NUMBER" [aspect]="aspect" [parent]="this" #child></characterMaker-numberComponent>
        <characterMaker-checkBoxListComponent *ngSwitchCase="aspectType.BOOLEAN_LIST" [aspect]="aspect" [parent]="this" #child></characterMaker-checkBoxListComponent>
        <characterMaker-textListComponent *ngSwitchCase="aspectType.TEXT_LIST" [aspect]="aspect" [parent]="this" #child></characterMaker-textListComponent>
        <characterMaker-categoryComponent *ngSwitchCase="aspectType.CATEGORICAL" [aspect]="aspect" [parent]="this" #child></characterMaker-categoryComponent>
        <characterMaker-tokenComponent *ngSwitchCase="aspectType.TOKEN" [aspect]="aspect" [parent]="this" #child></characterMaker-tokenComponent>
        <characterMaker-functionComponent *ngSwitchCase="aspectType.FUNCTION" [aspect]="aspect" [parent]="this" #child></characterMaker-functionComponent>
    </mat-card-content>
    <mat-card-footer *ngIf="isHovered">
		<button *ngIf="child.hasOptions" mat-icon-button class="sub-component-options" (mousedown)="openOptions()" [matMenuTriggerFor]="options"><mat-icon>settings</mat-icon></button>
        <mat-icon class="sub-component-resize" (mousedown)="startDrag($event)">transform</mat-icon>
    </mat-card-footer>
</mat-card>
