.sub-component {
}

.sub-component-resize {
    cursor: nwse-resize;
    margin-left: auto;
    margin-top: auto;
    opacity: .5;
}

.sub-component-header {
    background-color: #CFD8DC;
}

.sub-component-reorder {
    cursor: move;
}

.sub-component-close {
    cursor: pointer;
    align-self: flex-end;
    margin-left: auto;
    width: 24px;
    height: 24px;
}

.sub-component-close mat-icon {
    vertical-align: baseline;
}

.sub-component-options mat-icon{
    cursor: pointer;
    font-size: 14px;
    opacity: .5;
    margin-bottom: 16px;
}

mat-card {
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
}

mat-card-header {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    top: -24px;
    height: 24px;
}

mat-card-footer {
    display: flex;
    flex-direction: row;
    height: 24px;
    width: 100%;
    margin-left: -5px;
}

textarea {
    resize: none;
}

.align-center {
    text-align: center;
}

/deep/ .mat-card-header-text {
    margin: 0;
}

.changeFontSize {
    padding-left: 5px;
    padding-right: 5px;
}

.checkbox-list {
    display: flex;
    flex-direction: column;
}

.checkbox-list-item {
    display: flex;
    flex-direction: row;
}

.checkbox-list-label {
    border: 0;
    background-color: inherit;
    /*-webkit-box-shadow: none;*/
    box-shadow: none;
    height: 22px;
    width: 80%;
    text-align: left;
}

.text-list {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 15px;
}

.category-remove-option {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.token-component {
    margin-left: -6px;
}

.token-component a.thumbnail {
    width: 100%;
    height: 100%;
}

.function-chip {
    cursor: pointer;
}

.function-not-chip {
    padding-left: 5px;
}

.function-not-chip input[type="number"] {
    width: 60px;
}

.function-value {
    display: flex;
}

.function-value span {
    margin: auto;
}

.category-select {
    padding-top: 5px;
}

.function-syntax-area span mat-form-field {
    width: 105px;
}