.sub-component {
}

.sub-component-resize {
    cursor: nwse-resize;
    margin-left: auto;
    margin-top: auto;
    opacity: .5;
}

.sub-component-header {
    background-color: #CFD8DC;
}

.sub-component-reorder {
    cursor: move;
}

.sub-component-close {
    cursor: pointer;
    align-self: flex-end;
    margin-left: auto;
    width: 24px;
    height: 24px;
}

.sub-component-close md-icon {
    vertical-align: baseline;
}

.sub-component-options md-icon{
    cursor: pointer;
    font-size: 14px;
    opacity: .5;
    margin-bottom: 16px;
}

md-card {
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
}

md-card-header {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    top: 0;
}

md-card-footer {
    display: flex;
    flex-direction: row;
    height: 24px;
}

textarea {
    resize: none;
}

input {
    text-align: center;
}

/deep/ .mat-card-header-text {
    margin: 0;
}

.changeFontSize {
    padding-left: 5px;
    padding-right: 5px;
}