<span [style.font-size.px]="aspect.fontSize">{{aspect.label}}</span>
<div class="checkbox-list">
	<span *ngFor="let checkbox of checkboxes" class="checkbox-list-item">
		<mat-checkbox color="primary" [(ngModel)]="checkbox.value" (change)="valueChanged()"></mat-checkbox>
		<input class="form-control checkbox-list-label" [(ngModel)]="checkbox.label" (change)="valueChanged()">
	</span>
</div>
<mat-menu #options="matMenu" (close)="closeOptions()">
	<span mat-menu-item (click)="addCheckbox()">Add Checkbox</span>
	<span mat-menu-item (click)="removeCheckbox()">Remove Checkbox</span>
	<div class="changeFontSize" (click)="stopClickPropagate($event)" (keyup.enter)="closeMenu()">
		<mat-form-field>
			<input matInput type="number" placeholder="Label Font Size" [(ngModel)]="aspect.fontSize">
		</mat-form-field>
	</div>
</mat-menu>