<div class="checkbox-list">
	<span [style.font-size.px]="aspect.fontSize" class="checkbox-list-header">{{aspect.label}}</span>
	<span *ngFor="let checkbox of checkboxes" class="checkbox-list-item" [ngClass]="characterService.immutable ? 'immutable' : 'editable'">
		<mat-checkbox color="primary" [(ngModel)]="checkbox.value" (change)="valueChanged()"></mat-checkbox>
		<input class="app-input checkbox-list-label" [(ngModel)]="checkbox.label" (change)="valueChanged()" [readonly]="characterService.immutable" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
	</span>
</div>
<mat-menu #options="matMenu">
	<span mat-menu-item (click)="addCheckbox()">Add Checkbox</span>
	<span mat-menu-item (click)="removeCheckbox()">Remove Checkbox</span>
	<div class="changeFontSize" (click)="stopClickPropagate($event)" (keyup.enter)="closeMenu()">
		<mat-form-field>
			<input matInput type="number" placeholder="Label Font Size" [(ngModel)]="aspect.fontSize">
		</mat-form-field>
	</div>
</mat-menu>