:host {
	display: flex;
	flex: 1;
	flex-direction: column;
}

mat-header-cell {
	min-width: 100px;
}

.new-team-section {
	padding-top: 3px;
	margin-left: auto;
	display: flex;
	align-items: center;

	input {
		margin-right: 5px;
	}
}