<mat-table [dataSource]="encounterService.players">
	<ng-container matColumnDef="name">
		<mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
		<mat-cell *matCellDef="let player">{{player.name}}</mat-cell>
	</ng-container>
	<ng-container *ngFor="let team of encounterService.teams">
		<ng-container [matColumnDef]="team">
			<mat-header-cell *matHeaderCellDef>{{team}}
				<button mat-icon-button matTooltip="Remove Team"
				        *ngIf="team !== 'GM' && team !== 'Player'"
				        color="primary"
								(click)="removeTeam(team)"
				><mat-icon>remove</mat-icon></button>
			</mat-header-cell>
			<mat-cell *matCellDef="let player">
				<mat-checkbox [checked]="player.isMemberOfTeam(team)" (change)="toggleTeam(team, player)"></mat-checkbox>
			</mat-cell>
		</ng-container>
	</ng-container>
	<mat-header-row *matHeaderRowDef="teamTableCols"></mat-header-row>
	<mat-row *matRowDef="let player; columns: teamTableCols"></mat-row>
</mat-table>
<div class="new-team-section">
	<input class="app-input" [(ngModel)]="newTeam" />
	<button mat-raised-button color="primary" (click)="addTeam()">Add Team</button>
</div>
