:host {
	 flex: 1;
}

.admin-row {
	display: flex;
	justify-content: space-between;
}

.admin-row span {
	flex: 1;
}

button.options-button {
	margin-left: auto;
}

.ruleSet-config {
	display: flex;
	flex-direction: column;
}

.damage-type {
	width: 100%;
	display: flex;
	align-items: center;
	.type-icon {
		padding-right: 5px;
	}
	button {
		margin-left: auto;
	}
}

.condition {
	width: 100%;
	display: flex;
	align-items: center;
	.type-icon {
		padding-right: 5px;
	}
	.edit-button {
		margin-left: auto;
	}
}

.tabbed {
	margin-left: 15px;
}

.filter {
	width: 100%;
}

.npc-table {
	height: 100%;
	overflow-y: auto;
}

.npc-card {
	display: flex;
	flex-direction: column;
}

::ng-deep mat-card-content {
	display: flex !important;
	flex-direction: column;
}