<div *ngIf="ruleSetService.isReady()" class="ruleSet-content">
	<h1>{{ruleSetService.label}}</h1>
	<mat-grid-list [cols]="5" rowHeight="20em">
		<!--Rule modules config-->
		<mat-grid-tile [colspan]="1" [rowspan]="2">
			<dashboard-card [dashboardCard]="configCard">
				<div class="ruleSet-config">
					<mat-slide-toggle color="primary" checked disabled>Light & Vision</mat-slide-toggle>
					<mat-slide-toggle color="primary" (click)="changeModulesConfig()"
					                  [(ngModel)]="ruleSetService.modulesConfig.conditions">Conditions</mat-slide-toggle>
					<mat-slide-toggle color="primary" (click)="changeModulesConfig()" [(ngModel)]="ruleSetService.modulesConfig.rounds">Rounds</mat-slide-toggle>
					<mat-slide-toggle color="primary" (click)="changeModulesConfig()"
					                  [(ngModel)]="ruleSetService.modulesConfig.damageTypes">Damage Types
					</mat-slide-toggle>
					<mat-slide-toggle color="primary" (click)="changeModulesConfig()" *ngIf="ruleSetService.modulesConfig.damageTypes"
					                  [(ngModel)]="ruleSetService.modulesConfig.damageMustBeTyped" class="tabbed">Damage must be typed
					</mat-slide-toggle>
					<mat-slide-toggle color="primary" (click)="changeModulesConfig()"
					                  [(ngModel)]="ruleSetService.modulesConfig.equipment">Equipment
					</mat-slide-toggle>
					<mat-slide-toggle color="primary" (click)="changeModulesConfig()"
					                  [(ngModel)]="ruleSetService.modulesConfig.characterAbilities">Character Abilities
					</mat-slide-toggle>
				</div>
			</dashboard-card>
		</mat-grid-tile>
		<!--Admins-->
		<mat-grid-tile [colspan]="2" [rowspan]="1">
			<dashboard-card [dashboardCard]="adminsCard">
				<mat-table [dataSource]="adminDataSource">
					<ng-container matColumnDef="username">
						<mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
						<mat-cell *matCellDef="let row">{{row.username}}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="role">
						<mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
						<mat-cell *matCellDef="let row">{{row.role}}</mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="adminColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: adminColumns"></mat-row>
				</mat-table>
			</dashboard-card>
		</mat-grid-tile>
		<!--Character sheets-->
		<mat-grid-tile [colspan]="2" [rowspan]="1">
			<dashboard-card [dashboardCard]="characterSheetCard">
				<mat-table [dataSource]="characterSheetDataSource">
					<ng-container matColumnDef="label">
						<mat-header-cell *matHeaderCellDef>Character Sheet</mat-header-cell>
						<mat-cell *matCellDef="let characterSheet"
						          (click)="editCharacterSheet(characterSheet._id)">{{characterSheet.label}}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="options">
						<mat-header-cell *matHeaderCellDef></mat-header-cell>
						<mat-cell *matCellDef="let characterSheet">
							<button mat-icon-button matTooltip="Options" class="options-button"
							        [matMenuTriggerFor]="characterOptionsMenu">
								<mat-icon>settings</mat-icon>
							</button>
							<mat-menu #characterOptionsMenu="matMenu">
								<button mat-menu-item (click)="deleteCharacterSheet(characterSheet)">Delete Character Sheet</button>
							</mat-menu>
						</mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="characterSheetColumns"></mat-header-row>
					<mat-row class="clickable-row" *matRowDef="let characterSheet; columns: characterSheetColumns"></mat-row>
				</mat-table>
			</dashboard-card>
		</mat-grid-tile>
		<!--NPCs-->
		<mat-grid-tile [colspan]="2" [rowspan]="1">
			<dashboard-card [dashboardCard]="npcCard">
				<mat-table [dataSource]="npcDataSource">
					<ng-container matColumnDef="label">
						<mat-header-cell *matHeaderCellDef>NPCs</mat-header-cell>
						<mat-cell *matCellDef="let npc" (click)="editNpc(npc._id)">{{npc.label}}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="sheet">
						<mat-header-cell *matHeaderCellDef>Character Sheet</mat-header-cell>
						<mat-cell *matCellDef="let npc" (click)="editNpc(npc._id)">{{npc.characterSheetLabel}}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="options">
						<mat-header-cell *matHeaderCellDef></mat-header-cell>
						<mat-cell *matCellDef="let character">
							<button mat-icon-button matTooltip="Options" class="options-button"
							        [matMenuTriggerFor]="characterOptionsMenu">
								<mat-icon>settings</mat-icon>
							</button>
							<mat-menu #characterOptionsMenu="matMenu">
								<button mat-menu-item (click)="deleteCharacter(character)">Delete NPC</button>
							</mat-menu>
						</mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="npcColumns"></mat-header-row>
					<mat-row class="clickable-row" *matRowDef="let npc; columns: npcColumns"></mat-row>
				</mat-table>
			</dashboard-card>
		</mat-grid-tile>
		<!--Conditions-->
		<mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="ruleSetService.modulesConfig.conditions">
			<dashboard-card [dashboardCard]="conditionsCard">
				<div *ngFor="let condition of ruleSetService.conditions; let i = index" class="condition" [matTooltip]="condition.description">
					<mat-icon [style.color]="condition.color" class="type-icon">{{condition.icon}}</mat-icon>
					{{condition.name}}
					<button mat-icon-button (click)="editCondition(i)" matTooltip="Edit" class="edit-button"><mat-icon>edit</mat-icon></button>
					<button mat-icon-button (click)="removeCondition(condition)" matTooltip="Remove"><mat-icon>close</mat-icon></button>
				</div>
			</dashboard-card>
		</mat-grid-tile>
		<!--Damage Types-->
		<mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="ruleSetService.modulesConfig.damageTypes">
			<dashboard-card [dashboardCard]="damageTypesCard" class="damage-types">
				<div *ngFor="let type of ruleSetService.damageTypes" class="damage-type">
					<mat-icon [style.color]="type.color" class="type-icon">{{type.icon}}</mat-icon>{{type.name}}
					<button mat-icon-button (click)="removeDamageType(type)"><mat-icon>close</mat-icon></button>
				</div>
			</dashboard-card>
		</mat-grid-tile>
		<!--Export-->
		<mat-grid-tile [colspan]="1" [rowspan]="1">
			<button mat-raised-button color="primary" (click)="exportRuleSet()">Export</button>
		</mat-grid-tile>
	</mat-grid-list>
</div>