<span [style.fontSize.px]="aspect.fontSize">{{aspect.label}}</span>
<div class="function-value">
	<span [style.fontSize.px]="aspect.fontSize">{{value}}</span>
</div>
<mat-menu #options="matMenu">
	<span mat-menu-item (click)="openFunctionDialog()">Define Function</span>
	<div class="changeFontSize" (click)="stopClickPropagate($event)" (keyup.enter)="closeMenu()">
		<mat-form-field>
			<input matInput type="number" placeholder="Label Font Size" [(ngModel)]="aspect.fontSize" #fontSizeInput>
		</mat-form-field>
	</div>
</mat-menu>