<mat-form-field [style.fontSize.px]="aspect.fontSize">
	<input matInput [placeholder]="aspect.label" class="align-center" [(ngModel)]="value" disabled>
</mat-form-field>
<mat-menu #options="matMenu">
	<span mat-menu-item (click)="openFunctionDialog()">Define Function</span>
	<div class="changeFontSize" (click)="stopClickPropagate($event)" (keyup.enter)="closeMenu()">
		<mat-form-field>
			<input matInput type="number" placeholder="Label Font Size" [(ngModel)]="aspect.fontSize" #fontSizeInput>
		</mat-form-field>
	</div>
</mat-menu>