<ng-container *ngIf="tooltipConfig">
	<div *ngFor="let aspect of tooltipConfig.aspects; let i = index" class="character-tooltip-aspect"
	     (mouseenter)="startHover(i)"
	     (mouseleave)="endHover()">
		<mat-icon>{{aspect.icon}}</mat-icon>
		<span class="aspect-label">{{aspect.aspect.label}}:</span>
		<ng-container *ngIf="editable">
			<button mat-icon-button *ngIf="hoveredIndex === i" color="primary" (click)="moveUp(i)">
				<mat-icon>keyboard_arrow_up</mat-icon>
			</button>
			<button mat-icon-button *ngIf="hoveredIndex === i" color="primary" (click)="moveDown(i)">
				<mat-icon>keyboard_arrow_down</mat-icon>
			</button>
			<button mat-icon-button *ngIf="hoveredIndex === i" color="primary" (click)="removeAspect(aspect.aspect.label)">
				<mat-icon>close</mat-icon>
			</button>
		</ng-container>
		<ng-container [ngSwitch]="aspect.aspect.aspectType">
			<ng-container *ngSwitchCase="aspectType.CURRENT_MAX">
				<span class="current-max-aspect-value" *ngIf="editable || hasRights()">
					<ng-container *ngIf="editingIndex !== i">
						<button mat-icon-button class="positive-difference" (click)="beginEditCurrentMax(i, true)"><mat-icon>add</mat-icon></button>
						<button mat-icon-button class="negative-difference" (click)="beginEditCurrentMax(i, false)"><mat-icon>remove</mat-icon></button>
					</ng-container>
					<ng-container *ngIf="editingIndex === i">
						<input (keyup.enter)="editCurrentMax(aspect.aspect.label, +$event.target.value)" class="current-max-edit" autofocus/>
					</ng-container>
					<ng-container *ngIf="aspectValue(aspect.aspect.label)">
						<input class="current-max-input" style="margin-left: auto" type="number"
						       [value]="aspectValue(aspect.aspect.label).current"
						       (change)="changeCurrentAspectValue(aspect.aspect.label, $event.target.value)"/>
						<span>/</span>
						<input class="current-max-input" type="number" [value]="aspectValue(aspect.aspect.label).max"
						       (change)="changeMaxAspectValue(aspect.aspect.label, $event.target.value)"/>
					</ng-container>
				</span>
				<span class="aspect-unknown" *ngIf="!editable && !hasRights()">
					<span class="negative-difference" *ngIf="(aspectValue(aspect.aspect.label).current - aspectValue(aspect.aspect.label).max) < 0">
						{{aspectValue(aspect.aspect.label).current - aspectValue(aspect.aspect.label).max}}
					</span>
					<span class="positive-difference" *ngIf="(aspectValue(aspect.aspect.label).current - aspectValue(aspect.aspect.label).max) > 0">
						+{{aspectValue(aspect.aspect.label).current - aspectValue(aspect.aspect.label).max}}
					</span>
					<span> ???</span>
				</span>
			</ng-container>
			<ng-container *ngSwitchCase="aspectType.NUMBER">
				<input class="aspect-input" type="number" *ngIf="editable || hasRights()"
				       [value]="aspectValue(aspect.aspect.label) ? aspectValue(aspect.aspect.label) : ''"
				       (change)="changeAspectValue(aspect.aspect.label, $event.target.value)"/>
				<span *ngIf="!editable && !hasRights()" class="aspect-unknown">???</span>
			</ng-container>
			<ng-container *ngSwitchDefault>
				<input class="aspect-input" *ngIf="editable || hasRights()"
				       [value]="aspectValue(aspect.aspect.label) ? aspectValue(aspect.aspect.label) : ''"
				       (change)="changeAspectValue(aspect.aspect.label, $event.target.value)"/>
				<span *ngIf="!editable && !hasRights() && aspect.aspect.label === 'Name'" class="aspect-unknown">{{aspectValue(aspect.aspect.label)}}</span>
				<span *ngIf="!editable && !hasRights() && aspect.aspect.label !== 'Name'" class="aspect-unknown">???</span>
			</ng-container>
		</ng-container>
	</div>
</ng-container>
