:host {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}

.character-tooltip-aspect {
	display: flex;
	align-items: center;
}

.current-max-aspect-value {
	width: 100%;
	display: flex;
}


.current-max-input {
	text-align: center;
	background-color: inherit;
	border: none;
	width: 50px;
}

button {
	width: 24px;
	height: 24px;
	mat-icon {
		margin-bottom: 16px;
	}
}

.aspect-label {
	padding-right: 5px;
}

.aspect-unknown {
	width: 100%;
	text-align: right;
}

.negative-difference {
	color: red;
}

.positive-difference {
	color: green;
}

.aspect-input {
	background-color: inherit;
	border: none;
	text-align: right;
	width: 100%;
}

input.current-max-input::-webkit-outer-spin-button,
input.current-max-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}