<span>Function:</span>
<div class="well well-sm">
	<div class="function-syntax-area">
		<span *ngFor="let chip of _function.stack">
			<span *ngIf="chip === grammarNode.THEN || chip === grammarNode.IF_NOT"><br>&nbsp;</span>
			<mat-chip color="primary" selected="true" *ngIf="chip === grammarNode.IF ||
															chip === grammarNode.THEN ||
															chip === grammarNode.ASSIGNED ||
															chip === grammarNode.THIS ||
															chip === grammarNode.IF_NOT">{{chip}}</mat-chip>
			<mat-form-field *ngIf="chip === grammarNode.LOGIC_OPERATOR" class="function-form-field">
				<mat-select class="function-not-chip" placeholder="Logical Operator" (change)="selectOption($event)" [disabled]="chip !== _function.currentNode()">
				<mat-option value="==">is equal to</mat-option>
				<mat-option value="!=">is not equal to</mat-option>
				<mat-option value="<">is less than</mat-option>
				<mat-option value=">">is greater than</mat-option>
				<mat-option value="<=">is less than or equal to</mat-option>
				<mat-option value=">=">is greater than or equal to</mat-option>
			</mat-select>
			</mat-form-field>
			<mat-form-field *ngIf="chip === grammarNode.ASPECT" class="function-form-field">
				<mat-select class="function-not-chip" placeholder="Aspect" (change)="selectOption($event.value)" [disabled]="chip !== _function.currentNode()">
				<span *ngFor="let aspect of characterMakerService.getAspectsOfType()">
					<mat-option [value]="aspect">{{aspect.label}}</mat-option>
				</span>
			</mat-select>
			</mat-form-field>
			<mat-form-field *ngIf="chip === grammarNode.ASPECT_BOOLEAN_LIST_ITEM" class="function-form-field">
				<mat-select class="function-not-chip" placeholder="Item" (change)="selectOption($event.value)" [disabled]="chip !== _function.currentNode()">
				<span *ngFor="let item of currentListOptions">
					<mat-option [value]="item">{{item.label}}</mat-option>
				</span>
			</mat-select>
			</mat-form-field>
			<mat-form-field *ngIf="chip === grammarNode.CATEGORY_ITEM" class="function-form-field">
				<mat-select class="function-not-chip" placeholder="Item" (change)="selectOption($event.value)" [disabled]="chip !== _function.currentNode()">
					<span *ngFor="let item of currentListOptions">
						<mat-option [value]="item.value">{{item.value}}</mat-option>
					</span>
				</mat-select>
			</mat-form-field>
			<mat-form-field *ngIf="chip === grammarNode.ASPECT_BOOLEAN_THEN" class="function-form-field">
				<mat-select class="function-not-chip" placeholder="Aspect" (change)="selectOption($event.value)" [disabled]="chip !== _function.currentNode()">
				<span *ngFor="let aspect of characterMakerService.getAspectsOfType(aspectType.BOOLEAN)">
					<mat-option *ngIf="aspect.aspectType !== aspectType.FUNCTION" [value]="aspect">{{aspect.label}}</mat-option>
				</span>
			</mat-select>
			</mat-form-field>
			<mat-form-field *ngIf="chip === grammarNode.ASPECT_NUMBER_THEN || chip === grammarNode.ASSIGNED_ASPECT_NUMBER" class="function-form-field">
				<mat-select class="function-not-chip" placeholder="Aspect" (change)="selectOption($event.value)" [disabled]="chip !== _function.currentNode()">
				<span *ngFor="let aspect of characterMakerService.getAspectsOfType(aspectType.NUMBER)">
					<mat-option *ngIf="aspect.aspectType !== aspectType.FUNCTION" [value]="aspect">{{aspect.label}}</mat-option>
				</span>
			</mat-select>
			</mat-form-field>
			<mat-form-field *ngIf="chip === grammarNode.EQUAL_OR_NOT || chip === grammarNode.EQUAL_OR_NOT_CATEGORY" class="function-form-field">
				<mat-select class="function-not-chip" placeholder="Logical Operator" (change)="selectOption($event.value)" [disabled]="chip !== _function.currentNode()">
					<mat-option value="==">is equal to</mat-option>
					<mat-option value="!=">is not equal to</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field class="function-not-chip function-number-input" *ngIf="chip === grammarNode.NUMBER || chip === grammarNode.ASSIGNED_NUMBER">
				<input matInput type="number" (change)="selectOption($event.target.value)">
			</mat-form-field>
			<mat-form-field *ngIf="chip === grammarNode.BOOLEAN || chip === grammarNode.ASSIGNED_BOOLEAN" class="function-form-field">
				<mat-select class="function-not-chip" placeholder="True/False" (change)="selectOption($event.value)" [disabled]="chip !== _function.currentNode()">
					<mat-option [value]="true">True</mat-option>
					<mat-option [value]="false">False</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field *ngIf="chip === grammarNode.OPERATOR || chip === grammarNode.ASSIGNED_OPERATOR" class="function-form-field">
				<mat-select class="function-not-chip" placeholder="Operator" (change)="selectOption($event.value)" [disabled]="chip !== _function.currentNode()">
					<mat-option value="+">Plus</mat-option>
					<mat-option value="-">Minus</mat-option>
					<mat-option value="*">Times by</mat-option>
					<mat-option value="/">Divided by</mat-option>
				</mat-select>
			</mat-form-field>
		</span>
	</div>
</div>
<span>Options:</span>
<mat-chip-list>
	<span *ngFor="let chip of next">
		<mat-chip class="function-chip" color="accent" (click)="addNode(chip)">{{chip | nodePipe}}</mat-chip>
	</span>
</mat-chip-list>
<button mat-raised-button (click)="removeLast()" [disabled]="_function.stack.length < 2">Remove Last</button>
