<span [ngStyle]="{'font-size': fontSize + 'px'}">{{aspect.label}}</span>
<div class="function-value">
	<span>{{value}}</span>
</div>
<md-menu #options="mdMenu" (close)="closeOptions()">
	<span md-menu-item (click)="openFunctionDialog()">Define Function</span>
	<div class="changeFontSize" (click)="stopClickPropagate($event)" (keyup.enter)="closeMenu()">
		<md-input-container>
			<input mdInput type="number" placeholder="Label Font Size" [(ngModel)]="fontSize" #fontSizeInput>
		</md-input-container>
	</div>
</md-menu>