<button *ngIf="notificationService.notifications.length > 0" mat-button class="navbar-menuButton" [matMenuTriggerFor]="notifications">
    <mat-icon matBadge="{{notificationService.notifications.length}}" matBadgePosition="below after" matBadgeColor="warn">book</mat-icon>
</button>
<button *ngIf="notificationService.notifications.length === 0" mat-button class="navBar-menuButton" [matMenuTriggerFor]="noNotifications">
    <mat-icon>book</mat-icon>
</button>
<mat-menu #notifications>
    <ng-container *ngFor="let notification of notificationService.notifications">
        <ng-container ngSwitch="notification.type">
            <friend-request-notification *ngSwitchCase="notificationType.FRIEND_REQUEST" [friendRequest]="notification"></friend-request-notification>
        </ng-container>
    </ng-container>
</mat-menu>
<mat-menu #noNotifications>
    <span>No Notifications</span>
</mat-menu>