.acceptButton {
  margin-left: auto;
  color: forestgreen;
}

.rejectButton {
  color: orangered;
  margin-left: 5px;
}

.notification {
  border-bottom: 1px solid #cccccc;
}

img.friend-request {
	height: 50px;
	border: 1px solid;
	color: darkslategrey;
	border-radius: 50px;
}
