<ng-container ngSwitch="{{boardStateService.board_controller_mode}}">
    <ng-container *ngSwitchCase="BoardControllerMode.DEFAULT">

        <view-edit-module></view-edit-module>
        <diagnostic-module></diagnostic-module>
        <encounter-config-module></encounter-config-module>
        <notation-module></notation-module>
        <light-visibility-module></light-visibility-module>

        <div class="section">
            <div class="sectionHeader"><span>Stuff</span></div>
            <div class="sectionContents">
                <button mat-raised-button color="primary" (click)="addPlayer()">Add Player</button>
                <button mat-raised-button color="primary" (click)="openTeamSettings()">Team Settings</button>
                <button mat-raised-button color="primary" (click)="exportEncounterJson()">Export Encounter JSON</button>
            </div>
        </div>

    </ng-container>

    <ng-container *ngSwitchCase="BoardControllerMode.EPHEM_NOTATION">

    </ng-container>
</ng-container>










