:host {
	position: relative;
}

.board-controller {
	flex: 0 0 200px;
	width: 100%;
	border-bottom: 2px solid #cccccc;
	display: flex;
	max-height: 200px;
}

mat-radio-group {
	display: inline-flex;
	flex-direction: column;
}

mat-radio-button {
	margin: 2px;
}

.section {
	margin: 5px;
	background-color: #fafafa;
	border-radius: 5px;
	border: 1px solid #b7b7b7;
	display: flex;
	flex-direction: column;
}

.sectionHeader {
	padding: 5px 10px;
	flex: 0 0 18px;

	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-weight: bold;

	display: flex;
	background-color: #e1e1e1;
	border-bottom: 1px solid #b7b7b7;

	span {
		margin: auto;
	}
}

.font {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sectionContents {
	padding: 10px;
	overflow-y: auto;
	overflow-x: hidden;
	flex: auto;
	display: flex;
	flex-direction: column;
}

.activeTile {
	border: 2px solid yellow;
	margin: 0;
}

.defaultTile {
	margin: 2px;
}

.addButton {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;

	cursor: pointer;

	&:hover {
		font-weight: bold;
	}
}

.strokeButtonOverride {
	padding: 0 0;
	min-width: 0;
	width: 36px;
	margin: 3px;
	border: 1px solid #dedede;
	border-radius: 5px
}

//.specialAnnotationOverride {
//  padding: 0 0;
//  min-width: 0;
//  width: 36px;
//  margin: 3px;
//  border: 1px solid #353535;
//  border-radius: 5px;
//  background: rgb(99, 99, 99);
//  color: rgb(251, 251, 251);
//}

.inputOverride {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	width: 150px;
}

.notationGrid {
	display: block;
}

.webkitHideScrollbar {
	&::-webkit-scrollbar {
		width: 0;
	}
}

.selectedNotationMode {
	background: #DEDEDE;
}

.overlay-bar {
	position: absolute;
	right: 0;
	z-index: 20;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.toggle-button {
	margin: 3px;
}

.round-indicator {
	text-shadow: 0 0 10px white;
	font-size: 26px;
	margin-right: 15px;
}