<ng-container ngSwitch="{{boardStateService.board_controller_mode}}">
    <ng-container *ngSwitchCase="BoardControllerMode.DEFAULT">

        <view-edit-module></view-edit-module>

        <div id="Diagnostic Controls" class="section" *ngIf="boardStateService.diag_mode">
            <div class="sectionHeader"><span>Diagnostic</span></div>
            <div class="sectionContents">

                <div style="display: flex; flex-direction: row; min-height: 30px; align-items: center">
                    <mat-checkbox style="flex: auto" [(ngModel)]="boardStateService.diag_show_visibility_blocking_bitmap">
                        Obstruction Bitmap
                    </mat-checkbox>
                    <input matInput
                           class="font"
                           [(ngModel)]="boardStateService.diag_layer_opacity"
                           style="flex: 0 0 50px;"
                           type="number"
                           min="0"
                           max="100">
                </div>

                <div>
                    <mat-form-field>
                        <input matInput [(ngModel)]="boardStateService.diag_visibility_ray_count" type="number"
                               placeholder="Raytrace Vectors" (change)="diag_raytraceInputChange($event)">
                    </mat-form-field>

                </div>
                <div>
                    <mat-form-field>
                        <input matInput [(ngModel)]="boardStateService.minZoom" type="number" placeholder="MinZoom Override">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="boardStateService.maxZoom" type="number" placeholder="MaxZoom Override">
                    </mat-form-field>
                </div>
            </div>
        </div>


        <encounter-config-module></encounter-config-module>


        <!--<div id="Board Maker Controls" class="section" *ngIf="boardStateService.board_view_mode === ViewMode.BOARD_MAKER">-->
            <!--<div class="sectionHeader"><span>Board Maker Controls</span></div>-->
            <!--<div class="sectionContents">-->
                <!--<mat-checkbox style="display: block" [(ngModel)]="boardStateService.gridEnabled">Grid Enabled</mat-checkbox>-->
                <!--<mat-checkbox style="display: block" [(ngModel)]="boardStateService.show_health">Health Bars Enabled-->
                <!--</mat-checkbox>-->
                <!--<mat-checkbox style="display: block" [(ngModel)]="boardStateService.playerWallsEnabled">Show Walls to Player-->
                <!--</mat-checkbox>-->
                <!--<mat-checkbox style="display: block" [(ngModel)]="boardStateService.map_enabled">Map Enabled</mat-checkbox>-->
                <!--<div *ngIf="boardStateService.map_enabled">-->
                    <!--<span class="font">Map Opacity </span>-->
                    <!--<mat-slider min="0" max="1" step="0.01" [value]="boardStateService.board_maker_map_opacity"-->
                                <!--(input)="mapOpacitySliderInput($event)"></mat-slider>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div id="Player Controls" class="section" *ngIf="boardStateService.board_view_mode === ViewMode.PLAYER">-->
            <!--<div class="sectionHeader"><span>Player Controls</span></div>-->
            <!--<div class="sectionContents">-->
                <!--<mat-checkbox style="display: block" [(ngModel)]="boardStateService.gridEnabled">Grid Enabled</mat-checkbox>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div id="Game Master Controls" class="section" *ngIf="boardStateService.board_view_mode === ViewMode.MASTER">-->
            <!--<div class="sectionHeader"><span>Game Master Controls</span></div>-->
            <!--<div class="sectionContents">-->
                <!--<mat-checkbox style="display: block" [(ngModel)]="boardStateService.gridEnabled">Grid Enabled</mat-checkbox>-->
                <!--<mat-checkbox style="display: block" [(ngModel)]="boardStateService.show_health">Health Bars Enabled-->
                <!--</mat-checkbox>-->
                <!--<mat-checkbox style="display: block" [(ngModel)]="boardStateService.playerWallsEnabled">Show Walls to Player-->
                <!--</mat-checkbox>-->
                <!--<mat-checkbox style="display: block" [(ngModel)]="boardStateService.map_enabled">Map Enabled</mat-checkbox>-->
            <!--</div>-->
        <!--</div>-->

        <div id="Notation Controls" class="section" style="width: 258px">
            <div class="sectionHeader"><span>Notations</span></div>
            <div class="sectionContents webkitHideScrollbar" style="padding: 3px; display: flex">

                <!--DEFAULT NOTATIONS DIV-->
                <div *ngIf="!boardStateService.isEditingNotation" class="notationGrid">
                    <ng-container *ngFor="let notation of notationService.notations">
                        <button class="strokeButtonOverride"
                                matTooltip="{{notation.name}}"
                                mat-stroked-button
                                (click)="handleEditNotation(notation._id)">
                            <mat-icon [ngStyle]="{'color': notation.getRgbCode()}">{{notation.iconTag}}</mat-icon>
                        </button>
                    </ng-container>

                    <button mat-icon-button (click)="handleAddNotation()">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>


                <!--EDIT NOTATIONS DIV-->
                <div *ngIf="boardStateService.isEditingNotation" style="display: flex; flex-direction: column; flex: 1">

                    <div style="display: flex; margin-top: 8px;">
                        <button (click)="openIconDialog()"
                                class="strokeButtonOverride"
                                [ngStyle]="{'color': notationService.getActiveNotation().getRgbCode()}"
                                mat-stroked-button>
                            <mat-icon>{{notationService.getActiveNotation().iconTag}}</mat-icon>
                        </button>
                        <input matInput placeholder="Notation Id" class="inputOverride"
                               [(ngModel)]="notationService.getActiveNotation().name" style="margin-left: 5px">
                    </div>

                    <div style="display: block; margin: auto;">

                        <button matTooltip="cells"
                                class="strokeButtonOverride"
                                (click)="handleSetNotationModeToCell()"
                                [ngClass]="{'selectedNotationMode': notationService.activeNotationMode === NotationMode.CELL}"
                                mat-stroked-button
                                *ngIf="boardStateService.isGM || notationService.activeNotationIsMine()">
                            <mat-icon>apps</mat-icon>
                        </button>

                        <button matTooltip="point to point"
                                class="strokeButtonOverride"
                                (click)="handleSetNotationModeToPointToPoint()"
                                [ngClass]="{'selectedNotationMode': notationService.activeNotationMode === NotationMode.POINT_TO_POINT}"
                                mat-stroked-button
                                *ngIf="boardStateService.isGM || notationService.activeNotationIsMine()">
                            <mat-icon>timeline</mat-icon>
                        </button>

                        <button matTooltip="freeform"
                                class="strokeButtonOverride"
                                (click)="handleSetNotationModeToFreeform()"
                                [ngClass]="{'selectedNotationMode': notationService.activeNotationMode === NotationMode.FREEFORM}"
                                mat-stroked-button
                                *ngIf="boardStateService.isGM || notationService.activeNotationIsMine()">
                            <mat-icon>gesture</mat-icon>
                        </button>

                        <button matTooltip="text"
                                class="specialAnnotationOverride"
                                (click)="openTextNotationDialog()"
                                [ngClass]="{'selectedNotationMode': notationService.activeNotationMode === NotationMode.FREEFORM}"
                                mat-stroked-button
                                *ngIf="boardStateService.isGM || notationService.activeNotationIsMine()">
                            <!--<mat-icon>font_download</mat-icon>-->
                            <span style="font-size: 25px; font-weight: bold;">T</span>
                        </button>

                        <button matTooltip="cone"
                                class="specialAnnotationOverride"
                                (click)="handleSetNotationModeToFreeform()"
                                [ngClass]="{'selectedNotationMode': notationService.activeNotationMode === NotationMode.FREEFORM}"
                                mat-stroked-button
                                *ngIf="boardStateService.isGM || notationService.activeNotationIsMine()">
                            <mat-icon>near_me</mat-icon>
                        </button>

                        <button matTooltip="color"
                                (click)="openColorDialog()"
                                class="strokeButtonOverride"
                                mat-stroked-button
                                *ngIf="boardStateService.isGM || notationService.activeNotationIsMine()">
                            <mat-icon>palette</mat-icon>
                        </button>

                        <button matTooltip="advanced"
                                (click)="openSettingDialog()"
                                class="strokeButtonOverride"
                                mat-stroked-button
                                *ngIf="boardStateService.isGM || notationService.activeNotationIsMine()">
                            <mat-icon>settings</mat-icon>
                        </button>

	                      <ng-container *ngIf="boardStateService.isGM || notationService.activeNotationIsMine() || !notationService.getActiveNotation().isLocked">
			                      <ng-container ngSwitch="{{notationService.getActiveNotation().visibilityState}}">
				                      <button matTooltip="full visibility"
				                              (click)="notationService.getActiveNotation().toggleVisibility()"
				                              *ngSwitchCase="NotationVisibility.FULL"
				                              class="strokeButtonOverride"
				                              mat-stroked-button>
					                        <mat-icon>brightness_1</mat-icon>
				                      </button>

				                      <button matTooltip="partial visibility"
				                              (click)="notationService.getActiveNotation().toggleVisibility()"
				                              *ngSwitchCase="NotationVisibility.PARTIAL"
				                              class="strokeButtonOverride"
				                              mat-stroked-button>
					                        <mat-icon>adjust</mat-icon>
				                      </button>

				                      <button matTooltip="visibility off"
				                              (click)="notationService.getActiveNotation().toggleVisibility()"
				                              *ngSwitchCase="NotationVisibility.OFF"
				                              class="strokeButtonOverride"
				                              mat-stroked-button>
					                        <mat-icon>panorama_fish_eye</mat-icon>
				                      </button>
			                      </ng-container>
	                      </ng-container>

                        <!--Notation Visibility-->
	                      <ng-container *ngIf="boardStateService.isGM || notationService.activeNotationIsMine()">
			                      <button (click)="notationService.getActiveNotation().toggleVisible()"
			                              *ngIf="notationService.getActiveNotation().isVisible"
			                              matTooltip="visible"
			                              class="strokeButtonOverride"
			                              mat-stroked-button>
				                        <mat-icon>visibility</mat-icon>
			                      </button>
			                      <button (click)="notationService.getActiveNotation().toggleVisible()"
			                              *ngIf="!notationService.getActiveNotation().isVisible"
			                              matTooltip="hidden"
			                              class="strokeButtonOverride"
			                              mat-stroked-button>
				                        <mat-icon>visibility_off</mat-icon>
			                      </button>
	                      </ng-container>

                        <!--Notation Player Lock-->
	                      <ng-container *ngIf="boardStateService.isGM || notationService.activeNotationIsMine()">
			                      <button (click)="notationService.getActiveNotation().toggleLocked()"
			                              *ngIf="notationService.getActiveNotation().isLocked"
			                              matTooltip="player locked"
			                              class="strokeButtonOverride"
			                              mat-stroked-button>
				                        <mat-icon>lock</mat-icon>
			                      </button>
			                      <button (click)="notationService.getActiveNotation().toggleLocked()"
			                              *ngIf="!notationService.getActiveNotation().isLocked"
			                              matTooltip="player unlocked"
			                              class="strokeButtonOverride"
			                              mat-stroked-button>
				                        <mat-icon>lock_open</mat-icon>
			                      </button>
	                      </ng-container>

                        <button matTooltip="delete"
                                class="strokeButtonOverride"
                                mat-stroked-button
                                (click)="handleDeleteNotation()"
                                *ngIf="boardStateService.isGM || notationService.activeNotationIsMine()">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <button matTooltip="done"
                                class="strokeButtonOverride"
                                mat-stroked-button
                                (click)="handleFinishNotation()">
                            <mat-icon>done</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="lightControls" class="section" *ngIf="showLightControls()">
            <div class="sectionHeader"><span>Light and Visibility</span></div>
            <div class="sectionContents">

                <mat-checkbox [(ngModel)]="boardStateService.visibilityHighlightEnabled">Visibility Highlight Enabled
                </mat-checkbox>
                <mat-form-field>
                    <mat-select [(value)]="currentVisibility" (selectionChange)="onVisibilityChange()"
                                placeholder="Visibility Mode">
                        <mat-option *ngFor="let mode of visibilityModes" value="{{mode}}">{{mode}}</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-checkbox [(ngModel)]="boardStateService.lightEnabled">Light Enabled</mat-checkbox>
                <div style="display: flex; width: 100px; margin-left:auto; margin-right: auto">
                    <i style="margin-top: auto; margin-bottom: auto; cursor:pointer;" (click)="decreaseAmbientLight()"
                       class="material-icons">remove</i>
                    <span class="font" style="margin: auto">{{getLightValue()}}</span>
                    <i style="margin-top: auto; margin-bottom: auto; cursor:pointer;" (click)="increaseAmbientLight()"
                       class="material-icons">add</i>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="sectionHeader"><span>Stuff</span></div>
            <div class="sectionContents">
                <button mat-raised-button color="primary" (click)="addPlayer()">Add Player</button>
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="BoardControllerMode.EPHEM_NOTATION">

    </ng-container>
</ng-container>










