<mat-drawer-container>
	<mat-drawer #drawer [opened]="true" [mode]="'side'" [disableClose]="true">
		<mat-list>
			<mat-list-item>
				<button mat-icon-button mat-raised-button color="primary" (click)="save()" class="characterSheet-saveButton"
				        matTooltip="Save">
					<mat-icon>save</mat-icon>
				</button>
			</mat-list-item>
		</mat-list>
	</mat-drawer>
	<mat-drawer-content>
		<h1 *ngIf="characterService.characterData" class="character-sheet-label">{{characterService.characterData.label}}</h1>
		<mat-grid-list [cols]="4" [rowHeight]="'fit'">
			<mat-grid-tile [colspan]="3" [rowspan]="2" class="characterSheet-gridContainer">
				<character-grid></character-grid>
			</mat-grid-tile>
			<mat-grid-tile [colspan]="1" [rowspan]="2">
				<mat-accordion>
					<mat-expansion-panel [expanded]="true">
						<mat-expansion-panel-header>Map Token</mat-expansion-panel-header>
						<characterMaker-tokenComponent #token></characterMaker-tokenComponent>
					</mat-expansion-panel>
					<mat-expansion-panel>
						<mat-expansion-panel-header>Abilities</mat-expansion-panel-header>
						<button mat-icon-button color="primary" (click)="openAddAbilityDialog()" matTooltip="Add Ability"><mat-icon>add</mat-icon></button>
						<mat-accordion>
							<mat-expansion-panel *ngFor="let ability of abilities; let i = index;">
								<mat-expansion-panel-header>{{ability.name}}</mat-expansion-panel-header>
								<div class="ability-rolls">
									<div class="ability-roll" *ngFor="let roll of ability.rolls" [matTooltip]="roll.equation">
										<span>{{roll.name}}</span>
										<span>{{roll.result}}</span>
									</div>
								</div>
								<button mat-icon-button color="primary" matTooltip="Edit" (click)="editAbility(i)"><mat-icon>edit</mat-icon></button>
								<button mat-icon-button color="primary" matTooltip="Remove" (click)="removeAbility(i)"><mat-icon>remove</mat-icon></button>
								<button mat-icon-button color="primary" class="roll-button" (click)="rollAbility(ability)" matTooltip="Roll">
									<img src="../../../resources/images/favicon.ico" />
								</button>
							</mat-expansion-panel>
						</mat-accordion>
					</mat-expansion-panel>
				</mat-accordion>
			</mat-grid-tile>
		</mat-grid-list>
	</mat-drawer-content>
</mat-drawer-container>
