:host {
	flex: 1;
	display: flex;
	flex-direction: column;
}

mat-grid-list {
	flex: 1;
}

mat-drawer-container {
	flex: 1;
	display: flex;
}

mat-drawer-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
}

mat-drawer {
	background-color: #fafafa;
}

character-grid {
	align-self: flex-start;
}

mat-accordion {
	align-self: flex-start;
	margin-top: 5px;
	width: 90%;
}
