<div class="damage-row" *ngFor="let damage of damages; let i = index">
	<mat-form-field>
		<input matInput placeholder="Damage" type="number" [(ngModel)]="damage.amount"/>
	</mat-form-field>
	<mat-form-field *ngIf="rulesConfigService.hasDamageTypes">
		<input matInput placeholder="Damage Type" [matAutocomplete]="auto" [formControl]="autoCompleteControl" />
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectDamageType($event.option.value, i)">
			<mat-option *ngFor="let damageType of filteredDamageTypes | async" [value]="damageType">
				<mat-icon [style.color]="damageType.color">{{damageType.icon}}</mat-icon>
				<span>{{damageType.name}}</span>
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
</div>
<div class="button-row">
	<button mat-icon-button color="primary" (click)="addDamageRow()"><mat-icon>add</mat-icon></button>
	<button mat-icon-button color="primary" (click)="removeDamageRow()"><mat-icon>remove</mat-icon></button>
	<button mat-raised-button color="primary" class="submit-button" (click)="submit()">Submit</button>
</div>
