:host {
	width: 100%;
}

.add-player-count {
	display: flex;
	flex-direction: row;

	input {
		width: 50px;
		text-align: center;
		border: none;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.ok-button {
	margin-top: 10px;
	float: right;
}

.player-tabs {
	max-height: 80vh;
}

mat-table {
	overflow-y: auto;
	height: 100%;
}

.filter {
	width: 100%;
}

::ng-deep .player-tabs .mat-tab-body-content {
	display: flex;
	flex-direction: column;
}