:host {
	display: flex;
	flex: 1;
}

.main-content {
	padding-top: 65px;
	display: flex;
	flex: 1;
}

.main-toolbar {
	position: fixed;
	z-index: 99;
}

.right-toolbarButtons {
	position: absolute;
}

.app-title {
	cursor: pointer;
}