.sidenav-container {
  height: 100%;
  display: flex;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.right-content {
  flex: 1;
}

.main-content {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 70px;
}

.right-toolbar {
  position: fixed;
  z-index: 99;
}

.right-toolbarButtons {
  position: absolute;
}