<button mat-icon-button color="primary" (click)="startNewRule()" *ngIf="editable"><mat-icon>add</mat-icon></button>
<mat-accordion [displayMode]="'flat'">
	<mat-expansion-panel *ngFor="let rule of rules; let i = index;">
		<mat-expansion-panel-header>{{rule.name}}</mat-expansion-panel-header>
		<div>
			<div *ngFor="let effect of rule.effects" class="effect-row">
				<span>{{effect.aspectLabel}}<span *ngIf="effect.aspectItem">.{{effect.aspectItem}}</span></span>
				<span>{{effect.result}}</span>
			</div>
		</div>
		<button mat-icon-button color="primary" matTooltip="Edit" (click)="editRule(i)" *ngIf="editable"><mat-icon>edit</mat-icon></button>
		<button mat-icon-button color="primary" matTooltip="Remove" (click)="removeRule(i)" *ngIf="editable"><mat-icon>remove</mat-icon></button>
	</mat-expansion-panel>
</mat-accordion>