:host {
	flex: 1;
}

.campaign-content {
	display: flex;
}

.campaign-leftContent {
	flex: 3;
}

.campaign-rightContent {
	flex: 6;
}

button.options-button {
	margin-left: auto;
}

.closed-text {
	color: red;
}
