<ng-container *ngIf="campaignPageService.campaignState">
	<h1>{{campaignPageService.campaignState.label}}</h1>
	<mat-grid-list cols="2" rowHeight="350px">
		<mat-grid-tile [colspan]="1" [rowspan]="1">
			<dashboard-card [dashboardCard]="membersCard">
				<mat-table [dataSource]="memberDataSource">
					<ng-container matColumnDef="users">
						<mat-header-cell *matHeaderCellDef>Campaign Members</mat-header-cell>
						<mat-cell *matCellDef="let member">{{member.username}}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="gm">
						<mat-header-cell *matHeaderCellDef><span style="float: right">GM</span></mat-header-cell>
						<mat-cell *matCellDef="let member">
							<mat-checkbox color="primary" [checked]="member.gameMaster" (change)="changeGameMaster(member)" [disabled]="!rightsService.isCampaignGM()"></mat-checkbox>
						</mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="memberTableCols"></mat-header-row>
					<mat-row *matRowDef="let member; columns: memberTableCols"></mat-row>
				</mat-table>
			</dashboard-card>
		</mat-grid-tile>
		<mat-grid-tile [colspan]="1" [rowspan]="1">
			<dashboard-card [dashboardCard]="encountersCard">
				<mat-table [dataSource]="encounterDataSource">
					<ng-container matColumnDef="label">
						<mat-header-cell *matHeaderCellDef>Encounters</mat-header-cell>
						<mat-cell *matCellDef="let encounter" (click)="enterEncounter(encounter)">{{ encounter.label }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="date">
						<mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
						<mat-cell *matCellDef="let encounter" (click)="enterEncounter(encounter)">{{ encounter.date | dateFormat }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="options">
						<mat-header-cell *matHeaderCellDef></mat-header-cell>
						<mat-cell *matCellDef="let encounter">
							<span *ngIf="!encounter.isOpen" class="closed-text">CLOSED</span>
							<button mat-icon-button matTooltip="Options" class="options-button" [matMenuTriggerFor]="optionsMenu" *ngIf="rightsService.isCampaignGM()"><mat-icon>settings</mat-icon></button>
							<mat-menu #optionsMenu="matMenu">
								<button mat-menu-item *ngIf="!encounter.isOpen" (click)="openEncounter(encounter)">Open</button>
								<button mat-menu-item *ngIf="encounter.isOpen" (click)="closeEncounter(encounter)">Close</button>
								<button mat-menu-item (click)="deleteEncounter(encounter)">Delete Encounter</button>
							</mat-menu>
						</mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="encounterTableCols"></mat-header-row>
					<mat-row class="clickable-row"
									 *matRowDef="let encounter; columns: encounterTableCols"
					></mat-row>
				</mat-table>
			</dashboard-card>
		</mat-grid-tile>
		<mat-grid-tile [colspan]="1" [rowspan]="1">
			<dashboard-card [dashboardCard]="charactersCard">
				<mat-table [dataSource]="characterDataSource">
					<ng-container matColumnDef="label">
						<mat-header-cell *matHeaderCellDef>Characters</mat-header-cell>
						<mat-cell *matCellDef="let character" (click)="editCharacter(character._id)">{{ character.label }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="options">
						<mat-header-cell *matHeaderCellDef></mat-header-cell>
						<mat-cell *matCellDef="let character">
							<button mat-icon-button matTooltip="Options" class="options-button" [matMenuTriggerFor]="characterOptionsMenu" *ngIf="rightsService.isCampaignGM() || character.creatorUserId === userProfileService.userId">
								<mat-icon>settings</mat-icon>
							</button>
							<mat-menu #characterOptionsMenu="matMenu">
								<button mat-menu-item (click)="deleteCharacter(character)">Delete Character</button>
							</mat-menu>
						</mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="characterTableCols"></mat-header-row>
					<mat-row class="clickable-row"
					         *matRowDef="let character; columns: characterTableCols"
					></mat-row>
				</mat-table>
			</dashboard-card>
		</mat-grid-tile>
	</mat-grid-list>
</ng-container>
